@charset "UTF-8";
/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
/*End Reset*/
.group:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}
* html .group	{ zoom: 1; } /* IE6 /
*:first-child+html .group { zoom: 1; } / IE7 */

/* Separate items and positioning from classes and ids*/


body {
	background: #000;
}
span {
  display: none;
}
#wrapper {
  width: 890px;
  margin: 0 auto;
  position: relative;
}
#header {
  
  
}
#header h1 {
  font-size: 34px;
  padding: 10px 0;
  color: #AAA;
  font-family: 'Leckerli One', Arial, sans-serif;
}
#game {
  width: 640px;
  height: 512px;
  display: block;
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  position: relative;
}
/* HUD stuff*/
h1#name {
  font-size: 24px;
  position: absolute;
  display: block;
  color: #FFF;
  text-shadow: 2px 2px 0 #333;
  font-family: Arial, sans-serif;
  top: 10px;
  left: 10px;
  z-index: 15;
}
#money {
  font-size: 16px;
  position: absolute;
  display: block;
  color: #FFF;
  text-shadow: 2px 2px 0 #333;
  font-family: Arial, sans-serif;
  bottom: 10px;
  left: 10px;
  z-index: 15;
}
#health, #health li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#health {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  z-index: 15;
}
#health li {
  width: 22px;
  height: 22px;
  background: transparent url(images/hud/heart.png) 0 0 no-repeat;
  float: left;
  display: inline;
}
/* Game stuff*/
#overlay {
  position: absolute;
  display: none;
  width: 300px;
  padding: 20px;
  background: #CCC;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 55;
  top: 100px;
  left: 150px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  border: 2px solid #FFF;
}
#overlay p {
  margin-bottom: 15px;
}
#achievement {
  position: absolute;
  display: none;
  width: 480px;
  padding: 10px 30px;
  background: #FFF;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 55;
  top: 400px;
  left: 50px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  box-shadow: 0 0 20px #444;
  -moz-box-shadow: 0 0 20px #444;
  border: 2px solid #CCC;

}
#achievement span {
  display: block;
  color: #AAA;
  font-size: 20px;
}
#room {
  z-index: 2;
  position: relative;
  margin: 0 auto;
}
#room.inside {
  border: 25px inset #80603E;
}
#room.outside {
  
}
#player {
  width: 23px;
  height: 41px;
  display: block;
  background: transparent url(images/player/player.png) -23px 0 no-repeat;
  position: absolute;
  z-index: 10;
}
#data {
  width: 200px;
  height: 574px;
  background: #333;
  overflow: scroll;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  float: right;
  padding: 10px;
  line-height: 1.4;
}
#data p {
  margin-bottom: 15px;
  color: #EEE;
}
#inventory {
  width: 640px;
  height: 67px;
  margin: 15px 0 0 0;
  position: relative;
}
#inventory li {
  border: 2px solid #FFF;
  background: #CCC;
  height: 63px;
  width: 63px;
  float: left;
  display: inline;
  margin: 0 2px;
  position: relative;
}
#inventory li div {
  position: absolute;
}
/*General Elements*/
#elements div {
  position: absolute;
  display: block;
}
.exit {
  background: #000;  
  z-index: 9;
}
.locked {
  background: #777;
}
.cake {
  background: transparent url(images/elements/cake.png) 0 0 no-repeat;
  width: 50px;
  height: 44px;
}
.gun {
  width: 32px;
  height: 18px;
  background: transparent url(images/elements/gun.png) 0 0 no-repeat;
}
.key {
  width: 17px;
  height: 19px;
  background: transparent url(images/elements/key.png) 0 0 no-repeat;
}
.bookshelf {
  width: 64px;
  height: 64px;
}
.bed {
  width: 46px;
  height: 64px;
  background: transparent url(images/elements/bed.png) 0 0 no-repeat;
}
.table {
  width: 64px;
  height: 64px;
  background: transparent url(images/elements/table.png) 0 0 no-repeat;
}
#projectile {
  position: static;
}
.sidewalk {
  background: #CCC url(images/textures/sidewalk.png) 0 0 repeat;
}
.driveway {
  background: #222 url(images/textures/asphalt.png) 0 0 repeat;
}
.bullet {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  -moz- border-radius: 2px;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 15;
}
#elements .chest div {
  visibility: hidden;
}
/*Bedroom, Room 0*/
#room.room0 {
  width: 256px;
  height: 300px;
  top: 50px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
.room0 .chest {
  width: 32px;
  height: 32px;
  background: transparent url(images/elements/chest.png) 0 0 no-repeat;
  top: 225px;
  left: 165px;
}
.room0 .chest .cake {
  top: 0;
  left: 0;
}
.room0 .bookshelf1 {
    background: transparent url(images/elements/bookshelf1.png) 0 0 no-repeat;
    top: 0px;
    left: 0px;
}
.room0 .bookshelf2 {
    background: transparent url(images/elements/bookshelf2.png) 0 0 no-repeat;
    top: 0px;
    left: 64px;
}
.room0 .bookshelf3 {
    background: transparent url(images/elements/bookshelf3.png) 0 0 no-repeat;
    top: 0px;
    left: 128px;
}
.room0 .bookshelf4 {
    background: transparent url(images/elements/bookshelf4.png) 0 0 no-repeat;
    top: 0px;
    left: 192px;
}
.room0 .dresser {
    background: transparent url(images/elements/dresser-left.png) 0 0 no-repeat;
    top: 110px;
    left: 232px;
    width: 24px;
    height: 96px;
}
.room0 .bed {
  top: 120px;
  left: 30px;
}
.room0 #doorS {
  top: 300px;
  left: 110px;
  width: 40px;
  height: 7px;
}
/*Hallway, Room 1*/
#room.room1 {
  width: 50px;
  height: 400px;
  top: 20px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
.room1 .wallart {
  width: 2px;
  height: 40px;
  border: 1px solid #666;
}
.room1 .wallart1 {
  background: transparent url(images/elements/wallart1.jpg) 0 0 no-repeat;
  left: -4px;
  top: 100px;
}
.room1 .wallart2 {
  background: transparent url(images/elements/wallart2.jpg) 0 0 no-repeat;
  left: -4px;
  top: 230px;
}
.room1 #doorN {
  top: -7px;
  left: 5px;
  width: 40px;
  height: 7px;
}
.room1 #doorS {
  top: 400px;
  left: 5px;
  width: 40px;
  height: 7px;
}
.room1 #doorE {
  top: 330px;
  left: 50px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-down.png) 0 0 no-repeat;
}
/*Daughter's Room, Room 2*/
#room.room2 {
  width: 168px;
  height: 190px;
  top: 80px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
.room2 #doorN {
  top: -7px;
  left: 64px;
  width: 40px;
  height: 7px;
}
.room2 .key {
  top: 80px;
  left: 140px;
}
.room2 .piggy-bank {
  width: 24px;
  height: 21px;
  background: transparent url(images/elements/piggy-bank.png) 0 0 no-repeat;
  top: 150px;
  left: 15px;
}
.room2 .bookshelf1 {
    background: transparent url(images/elements/bookshelf1.png) 0 0 no-repeat;
    top: 0px;
    left: 0px;
}
.room2 .bookshelf2 {
    background: transparent url(images/elements/bookshelf2.png) 0 0 no-repeat;
    top: 0px;
    left: 104px;
}
.room2 .bed {
  top: 120px;
  left: 115px;
}
/*Living Room, Room 3*/
#room.room3 {
  width: 250px;
  height: 250px;
  top: 90px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
.room3 .table {
  top: 95px;
  left: 95px;
}
.room3 #doorW {
  top: 190px;
  left: -25px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-up.png) 0 0 no-repeat;
}
.room3 #doorS {
  top: 250px;
  left: 110px;
  width: 40px;
  height: 7px;
}
.room3 #doorE {
  top: 110px;
  left: 250px;
  width: 7px;
  height: 40px;
}
.room3 #doorN {
  top: -7px;
  left: 110px;
  width: 40px;
  height: 7px;
}
/*Office, Room 4*/
#room.room4 {
  width: 200px;
  height: 200px;
  top: 80px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
.room4 #doorN {
  top: -7px;
  left: 110px;
  width: 40px;
  height: 7px;
}
.room4 .computer {
  width: 40px;
  height: 40px;
  background: #777;
  top: 104px;
  left: 55px;
}
.room4 .desk {
  top: 110px;
  left: 20px;
  width: 130px;
  height: 40px;
  background: #714C22;
}

/*Kitchen, Room 5*/
#room.room5 {
  width: 256px;
  height: 280px;
  top: 50px;
  background: #CCC url(images/textures/lamenated-floor.png) 0 0 repeat;
}
.room5 #doorW {
  top: 235px;
  left: -7px;
  width: 7px;
  height: 40px;
}
.room5 .counter {
  background: #777;
  top: 0px;
  left: 0px;
}
.room5 .counter1 {
  width: 200px;
  height: 40px;
}
.room5 .counter2 {
  width: 40px;
  height: 230px;
}
.room5 .island {
  width: 100px;
  height: 80px;
  top: 100px;
  left: 100px;
  background: #999;
}
.room5 .fridge {
  width: 40px;
  height: 60px;
  top: 0px;
  left: 210px;
  background: #333;
}
/*Porch, Room 6*/
#room.room6 {
  background: #66a63c url(images/textures/grass.png) 0 0 repeat;
  width: 640px;
  height: 512px;
  top: 0px;
  left: 0px;
}
.room6 #doorN {
  background: transparent;
  width: 640px;
  height: 7px;
  top: -7px;
  left: 0px;
}
.room6 #doorS {
  width: 40px;
  height: 7px;
  top: 462px;
  left: 300px;
}
.room6 .fence {
  background: #cbbe88;
  width: 10px;
  height: 512px;
  top: 0px;
}
.room6 .fence1 {
  left: 30px;
}
.room6 .fence2 {
  left: 600px;
}
.room6 .house {
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  width: 540px;
  height: 50px;
  top: 462px;
  left: 50px;
}
.room6 .sidewalk {
  width: 40px;
  height: 462px;
  top: 0px;
  left: 300px;
  background-position: 0 100%;
}
.room6 .driveway {
  width: 100px;
  height: 462px;
  top: 0px;
  left: 100px;
}
.room6 .garage {
  width: 100px;
  height: 12px;
  top: 462px;
  left: 100px;
  background: transparent url(images/textures/garage.png) 0 0 repeat;
}
.room6 .earl {
  width: 21px;
  height: 44px;
  top: 400px;
  left: 400px;
  background: transparent url(images/people/earl.png) 0 0 repeat;
}

/*Unused elements*/
.room0 .fire {
  width: 32px;
  height: 32px;
  background: transparent url(images/elements/fire.png) 0 0 no-repeat;
  top: 240px;
  left: 20px;
}
.room4 .gun {
  top: 130px;
  left: 117px;
}
/* About, footer etc */
#loading {
  display: none;
}
#title {
  width: 808px;
  background: #000;
  position: absolute;
  top: 54px;
  left: 0;
  display: block;
  height: 514px;
  border: 1px solid #CCC;
  z-index: 20;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  line-height: 1.4;
  font-size: 16px;
  color: #FFF;
}
#title .link {
  font-size: 24px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 20px;
  -moz-border-radius: 20px;
}
#title .link:hover {
  background: #FFF;
  color: #000;
}
#title .title-choices {
  width: 200px;
}
#title-content {
  float: right;
  width: 568px;
  padding: 20px 0 0 40px;
}
#title-content p {
  margin: 15px 0 0 15px;
}
#title td {
  padding: 5px 15px;
}
#entry {
  background: #FF0000;
  color: #FFF;
  padding: 10px;
  border: 0;
  font-size: 16px;
}
#title p.version {
  opacity: .4;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#title h1.dead {
  font-size: 54px;
  color: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px 0 15px;
}
#title p.dead {
  font-size: 19px;
  color: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 15px 0;
}
#title input {
  margin: 50px auto;
  position: relative;
  width: 300px;
  padding: 15px;
  display: block;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #777;
  background: -o-linear-gradient(top, #AAA, #777);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAA), to(#777));
  background: -webkit-linear-gradient(top, #AAA, #777);
  background: -moz-linear-gradient(top, #AAA, #777);
  background: -ms-linear-gradient(top, #AAA, #777);
  background: -o-linear-gradient(top, #AAA, #777);
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 0 #444;
}
#title input:hover {
  background: #AAA;
}
