@charset "UTF-8";
/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
/*End Reset*/
.group:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}
* html .group	{ zoom: 1; } /* IE6 /
*:first-child+html .group { zoom: 1; } / IE7 */

/* Separate items and positioning from classes and ids*/


body {
	background: #000;
}
span {
  display: none;
}
#wrapper {
  width: 890px;
  margin: 0 auto;
  position: relative;
}
#header {
  
  
}
#header h1 {
  font-size: 34px;
  padding: 10px 0;
  color: #AAA;
  font-family: 'Leckerli One', Arial, sans-serif;
}
#game {
  width: 640px;
  height: 512px;
  display: block;
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  position: relative;
}
/* HUD stuff*/
h1#name {
  font-size: 24px;
  position: absolute;
  display: block;
  color: #FFF;
  text-shadow: 2px 2px 0 #333;
  font-family: Arial, sans-serif;
  top: 10px;
  left: 10px;
  z-index: 15;
}
#money {
  font-size: 16px;
  position: absolute;
  display: block;
  color: #FFF;
  text-shadow: 2px 2px 0 #333;
  font-family: Arial, sans-serif;
  bottom: 10px;
  left: 10px;
  z-index: 15;
}
#health, #health li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#health {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  z-index: 15;
}
#health li {
  width: 22px;
  height: 22px;
  background: transparent url(images/hud/heart.png) 0 0 no-repeat;
  float: left;
  display: inline;
}
#sound {
  right: 10px;
  top: 10px;
  display: block;
  position: absolute;
  width: 42px;
  height: 36px;
  background: transparent url(images/hud/sound2.png) 0 0 no-repeat;
  cursor: pointer;
  z-index: 15;
}
#sound.off {
  background-position: 0 100%;
}
/* Game stuff*/
#overlay {
  position: absolute;
  display: none;
  width: 300px;
  padding: 20px;
  background: #CCC;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 55;
  top: 100px;
  left: 150px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  border: 2px solid #FFF;
}
#overlay p {
  margin-bottom: 15px;
}
#achievement {
  position: absolute;
  display: none;
  width: 480px;
  padding: 10px 30px;
  background: #FFF;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  z-index: 55;
  top: 400px;
  left: 50px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  box-shadow: 0 0 20px #444;
  -moz-box-shadow: 0 0 20px #444;
  border: 2px solid #CCC;

}
#achievement span {
  display: block;
  color: #AAA;
  font-size: 20px;
}
.container div {
  visibility: hidden;
}
#room {
  z-index: 2;
  position: relative;
  margin: 0 auto;
}
#room.inside {
  border: 25px inset #80603E;
  width: 200px;
  height: 200px;
  top: 80px;
  background: #bc9862 url(images/textures/wood-floor.png) 0 0 repeat;
}
#room.outside {
  background: #66a63c url(images/textures/grass.png) 0 0 repeat;
  width: 640px;
  height: 512px;
  top: 0px;
  left: 0px;
}
.outside #doorS {
  background: transparent;
  width: 640px;
  height: 7px;
  top: 512px;
  left: 0px;
}
.outside #doorN {
  background: transparent;
  width: 640px;
  height: 7px;
  top: -7px;
  left: 0px;
}
.outside #doorE {
  background: transparent;
  width: 7px;
  height: 512px;
  top: 0px;
  left: 640px;
}
.outside #doorW {
  background: transparent;
  width: 7px;
  height: 512px;
  top: 0px;
  left: -7px;
}
.inside #doorW,
.inside #doorE {
  width: 7px;
  height: 40px;
}
.inside #doorS,
.inside #doorN {
  width: 40px;
  height: 7px;
}
#player {
  width: 23px;
  height: 41px;
  display: block;
  background: transparent url(images/player/player.png) -23px 0 no-repeat;
  position: absolute;
  z-index: 10;
}
#data {
  width: 200px;
  height: 574px;
  background: #333;
  overflow: scroll;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  float: right;
  padding: 10px;
  line-height: 1.4;
}
#data p {
  margin-bottom: 15px;
  color: #EEE;
}
#inventory {
  width: 640px;
  height: 67px;
  margin: 15px 0 0 0;
  position: relative;
}
#inventory li {
  border: 2px solid #FFF;
  background: #CCC;
  height: 63px;
  width: 63px;
  float: left;
  display: inline;
  margin: 0 2px;
  position: relative;
}
#inventory li div {
  position: absolute;
}
/*General Elements*/
#elements div {
  position: absolute;
  display: block;
}
.exit {
  background: #000;  
  z-index: 9;
}
.locked {
  background: #777;
}
.cake {
  background: transparent url(images/elements/cake.png) 0 0 no-repeat;
  width: 50px;
  height: 44px;
}
.gun {
  width: 32px;
  height: 18px;
  background: transparent url(images/elements/gun.png) 0 0 no-repeat;
}
.key {
  width: 17px;
  height: 19px;
  background: transparent url(images/elements/key.png) 0 0 no-repeat;
}
.bookshelf {
  width: 64px;
  height: 64px;
}
.bed {
  width: 46px;
  height: 64px;
  background: transparent url(images/elements/bed.png) 0 0 no-repeat;
}
.table {
  width: 64px;
  height: 64px;
  background: transparent url(images/elements/table.png) 0 0 no-repeat;
}
.sign {
  width: 32px;
  height: 32px;
  background: transparent url(images/elements/sign.png) 0 0 no-repeat;
}
#projectile {
  position: static;
}
.sidewalk {
  background: #CCC url(images/textures/sidewalk.png) 0 0 repeat;
}
.driveway, .road, .hroad, .vroad {
  background: #222 url(images/textures/asphalt.png) 0 0 repeat;
}
.hroad {
  width: 640px;
  height: 200px;
  top: 140px;
  left: 0px;
}
.hroad .line {
  width: 100%;
  border-bottom: 10px dashed yellow;
  top: 95px;
  left: 0px;
  height: 0px;
}
.fence {
  background: #cbbe88;
}
.bullet {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  -moz- border-radius: 2px;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 15;
}
.tree {
  background: transparent url(images/elements/tree.png) 0 0 no-repeat;
  width: 115px;
  height: 151px;
}
.coins {
  width: 19px;
  height: 18px;
  background: transparent url(images/elements/coins.png) 0 0 no-repeat;
}
.plant {
  width: 24px;
  height: 22px;
  background: transparent url(images/elements/outdoor-plant.png) 0 0 no-repeat;
}
#elements .chest div {
  visibility: hidden;
}
/*Bedroom, Room 0*/
#room.room0 {
  width: 256px;
  height: 300px;
  top: 50px;
}
.room0 .chest {
  width: 32px;
  height: 32px;
  background: transparent url(images/elements/chest.png) 0 0 no-repeat;
  top: 225px;
  left: 165px;
}
.room0 .chest .cake {
  top: 0;
  left: 0;
}
.room0 .bookshelf1 {
    background: transparent url(images/elements/bookshelf1.png) 0 0 no-repeat;
    top: 0px;
    left: 0px;
}
.room0 .bookshelf2 {
    background: transparent url(images/elements/bookshelf2.png) 0 0 no-repeat;
    top: 0px;
    left: 64px;
}
.room0 .bookshelf3 {
    background: transparent url(images/elements/bookshelf3.png) 0 0 no-repeat;
    top: 0px;
    left: 128px;
}
.room0 .bookshelf4 {
    background: transparent url(images/elements/bookshelf4.png) 0 0 no-repeat;
    top: 0px;
    left: 192px;
}
.room0 .dresser {
    background: transparent url(images/elements/dresser-left.png) 0 0 no-repeat;
    top: 110px;
    left: 232px;
    width: 24px;
    height: 96px;
}
.room0 .bed {
  top: 120px;
  left: 30px;
}
.room0 #doorS {
  top: 300px;
  left: 110px;
}
/*Hallway, Room 1*/
#room.room1 {
  width: 50px;
  height: 400px;
  top: 20px;
}
.room1 .wallart {
  width: 2px;
  height: 40px;
  border: 1px solid #666;
}
.room1 .wallart1 {
  background: transparent url(images/elements/wallart1.jpg) 0 0 no-repeat;
  left: -4px;
  top: 100px;
}
.room1 .wallart2 {
  background: transparent url(images/elements/wallart2.jpg) 0 0 no-repeat;
  left: -4px;
  top: 230px;
}
.room1 #doorN {
  top: -7px;
  left: 5px;
  width: 40px;
  height: 7px;
}
.room1 #doorS {
  top: 400px;
  left: 5px;
}
.room1 #doorE {
  top: 330px;
  left: 50px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-down.png) 0 0 no-repeat;
}
/*Daughter's Room, Room 2*/
#room.room2 {
  width: 168px;
  height: 190px;
  top: 80px;
}
.room2 #doorN {
  top: -7px;
  left: 64px;
}
.room2 .key {
  top: 80px;
  left: 140px;
}
.room2 .piggy-bank {
  width: 24px;
  height: 21px;
  background: transparent url(images/elements/piggy-bank.png) 0 0 no-repeat;
  top: 150px;
  left: 15px;
}
.room2 .bookshelf1 {
    background: transparent url(images/elements/bookshelf1.png) 0 0 no-repeat;
    top: 0px;
    left: 0px;
}
.room2 .bookshelf2 {
    background: transparent url(images/elements/bookshelf2.png) 0 0 no-repeat;
    top: 0px;
    left: 104px;
}
.room2 .bed {
  top: 120px;
  left: 115px;
}
/*Living Room, Room 3*/
#room.room3 {
  width: 250px;
  height: 250px;
  top: 90px;
}
.room3 .table {
  top: 95px;
  left: 95px;
}
.room3 #doorW {
  top: 190px;
  left: -25px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-up.png) 0 0 no-repeat;
}
.room3 #doorS {
  top: 250px;
  left: 110px;
}
.room3 #doorE {
  top: 110px;
  left: 250px;
}
.room3 #doorN {
  top: -7px;
  left: 110px;
}
/*Office, Room 4*/
.room4 #doorN {
  top: -7px;
  left: 110px;
}
.room4 .computer {
  width: 40px;
  height: 40px;
  background: #777;
  top: 104px;
  left: 55px;
}
.room4 .desk {
  top: 110px;
  left: 20px;
  width: 130px;
  height: 40px;
  background: #714C22;
}

/*Kitchen, Room 5*/
#room.room5 {
  width: 256px;
  height: 280px;
  top: 50px;
  background: #CCC url(images/textures/lamenated-floor.png) 0 0 repeat;
}
.room5 #doorW {
  top: 235px;
  left: -7px;
}
.room5 .counter {
  background: #777;
  top: 0px;
  left: 0px;
}
.room5 .counter1 {
  width: 200px;
  height: 40px;
}
.room5 .counter2 {
  width: 40px;
  height: 230px;
}
.room5 .island {
  width: 100px;
  height: 80px;
  top: 100px;
  left: 100px;
  background: #999;
}
.room5 .fridge {
  width: 40px;
  height: 60px;
  top: 0px;
  left: 210px;
  background: #333;
}
/*Porch, Room 6*/
.room6 #doorS {
  width: 40px;
  height: 7px;
  top: 462px;
  left: 240px;
  background: #000;
}
.room6 .fence {
  width: 10px;
  height: 512px;
  top: 0px;
}
.room6 .fence1 {
  left: 30px;
}
.room6 .fence2 {
  left: 600px;
}
.room6 .house {
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  width: 540px;
  height: 50px;
  top: 462px;
  left: 50px;
}
.room6 .sidewalk {
  width: 40px;
  height: 462px;
  top: 0px;
  left: 240px;
  background-position: 0 100%;
}
.room6 .driveway {
  width: 100px;
  height: 462px;
  top: 0px;
  left: 100px;
}
.room6 .garage {
  width: 100px;
  height: 12px;
  top: 462px;
  left: 100px;
  background: transparent url(images/textures/garage.png) 0 0 repeat;
}
.room6 .earl {
  width: 21px;
  height: 44px;
  top: 400px;
  left: 400px;
  background: transparent url(images/people/earl.png) 0 0 repeat;
}
/*Your Driveway, Room 7*/
.room7 .fence {
  top: 390px;
}
.room7 .fence1 {
  left: 30px;
  width: 10px;
  height: 122px;
}
.room7 .fence2 {
  left: 600px;
  width: 10px;
  height: 122px;
}
.room7 .fence3 {
  left: 0px;
  width: 80px;
  height: 10px;
}
.room7 .fence4 {
  left: 300px;
  width: 340px;
  height: 10px;
}
.room7 .sidewalk1 {
  width: 40px;
  height: 172px;
  top: 340px;
  left: 240px;
}
.room7 .sidewalk2 {
  width: 640px;
  height: 40px;
  top: 340px;
  left: 0px;
}
.room7 .sidewalk3 {
  width: 640px;
  height: 40px;
  top: 100px;
  left: 0px;
}
.room7 .driveway {
  width: 100px;
  height: 172px;
  top: 340px;
  left: 100px;
}
.room7 .tree1 {
  top: 0px;
  left: 0px;
  height: 90px;
  background-position: 0 100%;
}
.room7 .tree2 {
  top: 0px;
  left: 525px;
  height: 90px;
  background-position: 0 100%;
}
/*Culdesac, Room 8*/
.room8 .hroad {
  left: 90px;
  width: 550px;
}
.room8 .sidewalk1 {
  width: 40px;
  height: 280px;
  top: 100px;
  left: 50px;
}
.room8 .sidewalk2 {
  width: 550px;
  height: 40px;
  top: 340px;
  left: 90px;
}
.room8 .sidewalk3 {
  width: 550px;
  height: 40px;
  top: 100px;
  left: 90px;
}
.room8 .sidewalk4 {
  width: 40px;
  height: 172px;
  top: 340px;
  left: 360px;
}
.room8 .driveway {
  width: 100px;
  height: 172px;
  top: 340px;
  left: 440px;
}
.room8 .fence {
  top: 390px;
}
.room8 .fence1 {
  left: 30px;
  width: 10px;
  height: 512px;
  top: 0px;
}
.room8 .fence2 {
  left: 600px;
  width: 10px;
  height: 122px;
}
.room8 .fence3 {
  left: 30px;
  width: 310px;
  height: 10px;
}
.room8 .fence4 {
  left: 560px;
  width: 80px;
  height: 10px;
}
.room8 .tree1 {
  top: 0px;
  left: 525px;
  height: 90px;
  background-position: 0 100%;
}
/*Forest Entrance, Room 9*/
.room9 .tree1 {
  top: 0px;
  left: 0px;
}
.room9 .tree2 {
  top: 0px;
  left: 150px;
}
.room9 .tree3 {
  top: 0px;
  left: 375px;
}
.room9 .tree4 {
  top: 0px;
  left: 525px;
}
.room9 .tree5 {
  top: 75px;
  left: 75px;
}
.room9 .tree6 {
  top: 75px;
  left: 450px;
}
.room9 .tree7 {
  top: 150px;
  left: 0px;
}
.room9 .tree8 {
  top: 225px;
  left: 0px;
}
.room9 .tree9 {
  top: 150px;
  left: 525px;
}
.room9 .tree10 {
  top: 225px;
  left: 525px;
}
.room9 .tree11 {
  top: 300px;
  left: 0px;
}
.room9 .tree12 {
  top: 300px;
  left: 525px;
}
.room9 .tree13 {
  top: 362px;
  left: 0px;
}
.room9 .tree14 {
  top: 362px;
  left: 525px;
}
.room9 .tree15 {
  top: 0px;
  left: 75px;
  height: 75px;
  background-position: 0 100%;
}
.room9 .tree16 {
  top: 0px;
  left: 450px;
  height: 75px;
  background-position: 0 100%;
}
.room9 .sign {
  top: 120px;
  left: 380px;
}
.room9 .forest-entrance {
  top: -7px;
  left: 0px;
  width: 640px;
  height: 7px;
}
.room9 .coins {
  top: 230px;
  left: 125px;
}

/*Allen's Driveway, Room 10*/
.room10 .fence {
  top: 390px;
}
.room10 .fence1 {
  left: 30px;
  width: 10px;
  height: 122px;
}
.room10 .fence2 {
  left: 600px;
  width: 10px;
  height: 122px;
}
.room10 .fence3 {
  left: 0px;
  width: 340px;
  height: 10px;
}
.room10 .fence4 {
  left: 560px;
  width: 50px;
  height: 10px;
}
.room10 .fence5 {
  left: 610px;
  width: 30px;
  height: 10px;
  top: 472px;
}
.room10 .sidewalk1 {
  width: 40px;
  height: 172px;
  top: 340px;
  left: 360px;
}
.room10 .sidewalk2 {
  width: 640px;
  height: 40px;
  top: 340px;
  left: 0px;
}
.room10 .sidewalk3 {
  width: 640px;
  height: 40px;
  top: 100px;
  left: 0px;
}
.room10 .driveway {
  width: 100px;
  height: 172px;
  top: 340px;
  left: 440px;
}
.room10 .tree {
  background-position: 0 100%;
  top: 0px;
}
.room10 .tree1 {
  left: 0px;
  height: 90px;
}
.room10 .tree2 {
  left: 525px;
  height: 90px;
}
.room10 .tree3 {
  left: 115px;
  height: 90px;
}
.room10 .tree4 {
  left: 410px;
  height: 90px;
}
.room10 .tree5 {
  left: 210px;
  height: 40px;
}
.room10 .tree6 {
  left: 315px;
  height: 40px;
}

/*Allen's Porch, Room 11*/
.room11 .fence {
  width: 10px;
  height: 512px;
  top: 0px;
}
.room11 .fence1 {
  left: 30px;
}
.room11 .fence2 {
  left: 600px;
}
.room11 .house {
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  width: 540px;
  height: 50px;
  top: 462px;
  left: 50px;
}
.room11 .sidewalk {
  width: 40px;
  height: 462px;
  top: 0px;
  left: 360px;
  background-position: 0 100%;
}
.room11 .driveway {
  width: 100px;
  height: 462px;
  top: 0px;
  left: 440px;
}
.room11 .garage {
  width: 100px;
  height: 12px;
  top: 462px;
  left: 440px;
  background: transparent url(images/textures/garage.png) 0 0 repeat;
}
.room11 .plant {
  top: 450px;
  left: 300px;
}
.room11 #doorS {
  width: 40px;
  height: 7px;
  top: 462px;
  left: 360px;
  background: #000;
}
.room11 #doorS.locked {
  background: #777;
}
/*Road, Rooms 12-15*/
.room12 .tree1 {
  background-position: 100% 100%;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 90px;
}

.room12 .sidewalk1,
.room13 .sidewalk1,
.room14 .sidewalk1,
.room15 .sidewalk1 {
  width: 640px;
  height: 40px;
  top: 340px;
  left: 0px;
}
.room12 .sidewalk2,
.room13 .sidewalk2,
.room14 .sidewalk2,
.room15 .sidewalk2 {
  width: 640px;
  height: 40px;
  top: 100px;
  left: 0px;
}
.room12 .fence1,
.room13 .fence1,
.room14 .fence1,
.room15 .fence1 {
  width: 640px;
  height: 10px;
  top: 30px;
  left: 0px;
}
.room12 .fence2,
.room13 .fence2,
.room14 .fence2,
.room15 .fence2 {
  width: 640px;
  height: 10px;
  top: 472px;
  left: 0px;
}

/*Playground, Room 16*/
.room16 .tree1 {
  top: 0px;
  left: 525px;
  height: 75px;
  background-position: 0 100%;
}
.room16 .tree2 {
  top: 0px;
  left: 525px;
}
.room16 .tree3 {
  top: 75px;
  left: 525px;
}
.room16 .tree4 {
  top: 150px;
  left: 525px;
}
.room16 .tree5 {
  top: 225px;
  left: 525px;
}
.room16 .tree6 {
  top: 300px;
  left: 525px;
}
.room16 .tree7 {
  top: 375px;
  left: 525px;
  height: 137px;
}
.room16 .fence {
  top: 30px;
  left: 30px;
}
.room16 .fence1 {
  width: 10px;
  height: 482px;
}
.room16 .fence2 {
  width: 590px;
  height: 10px;
}
/*Jerry's Porch, Room 17*/
.room17 .fence {
  width: 10px;
  height: 512px;
  top: 0px;
}
.room17 .fence1 {
  left: 30px;
}
.room17 .fence2 {
  left: 600px;
}
.room17 .house {
  background: transparent url(images/textures/wood-bg.png) 0 0 repeat;
  width: 540px;
  height: 50px;
  top: 462px;
  left: 50px;
}
.room17 .sidewalk {
  width: 40px;
  height: 462px;
  top: 0px;
  left: 360px;
  background-position: 0 100%;
}
.room17 .driveway {
  width: 100px;
  height: 462px;
  top: 0px;
  left: 440px;
}
.room17 .garage {
  width: 100px;
  height: 12px;
  top: 462px;
  left: 440px;
  background: transparent url(images/textures/garage.png) 0 0 repeat;
}
/*Room 19 - 24 Allen's house*/
#room.room23 {
  width: 256px;
  height: 300px;
  top: 50px;
}
#room.room22 {
  width: 50px;
  height: 400px;
  top: 20px;
}
#room.room24 {
  width: 168px;
  height: 190px;
  top: 80px;
}
#room.room19 {
  width: 250px;
  height: 250px;
  top: 90px;
}
#room.room20 {
  width: 256px;
  height: 280px;
  top: 50px;
  background: #CCC url(images/textures/lamenated-floor.png) 0 0 repeat;
}
.room23 #doorS {
  top: 300px;
  left: 110px;
}
.room22 #doorN {
  top: -7px;
  left: 5px;
  width: 40px;
  height: 7px;
}
.room22 #doorS {
  top: 400px;
  left: 5px;
}
.room22 #doorW {
  top: 330px;
  left: -25px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-up.png) 0 0 no-repeat;
}
.room24 #doorN {
  top: -7px;
  left: 64px;
}
.room19 #doorE {
  top: 190px;
  left: 250px;
  width: 25px;
  height: 40px;
  background: transparent url(images/elements/staircase-down.png) 0 0 no-repeat;
}
.room19 #doorS {
  top: 250px;
  left: 110px;
}
.room19 #doorW {
  top: 110px;
  left: -7px;
}
.room19 #doorN {
  top: -7px;
  left: 110px;
}
.room19 .table {
  left: 95px;
  top: 95px;
}
.room21 #doorN {
  top: -7px;
  left: 110px;
}
.room20 #doorE {
  top: 235px;
  left: 256px;
}


/*Unused elements*/
.room0 .fire {
  width: 32px;
  height: 32px;
  background: transparent url(images/elements/fire.png) 0 0 no-repeat;
  top: 240px;
  left: 20px;
}
.room4 .gun {
  top: 130px;
  left: 117px;
}
/* About, footer etc */
#loading {
  display: none;
}
#title {
  width: 808px;
  background: #000;
  position: absolute;
  top: 54px;
  left: 0;
  display: block;
  height: 514px;
  border: 1px solid #CCC;
  z-index: 20;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  line-height: 1.4;
  font-size: 16px;
  color: #FFF;
}
#title .link {
  font-size: 24px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 20px;
  -moz-border-radius: 20px;
}
#title .link:hover {
  background: #FFF;
  color: #000;
}
#title .hidden {
  display: none;
}
#title .title-choices {
  width: 200px;
}
#title-content {
  float: right;
  width: 568px;
  padding: 20px 0 0 40px;
}
#title-content p {
  margin: 15px 0 0 15px;
}
#title td {
  padding: 5px 15px;
}
#entry {
  background: #FF0000;
  color: #FFF;
  padding: 10px;
  border: 0;
  font-size: 16px;
}
#title p.version {
  opacity: .4;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#title h1.dead {
  font-size: 54px;
  color: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px 0 15px;
}
#title p.dead {
  font-size: 19px;
  color: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 15px 0;
}
#title input.button {
  margin: 50px auto;
  position: relative;
  width: 300px;
  padding: 15px;
  display: block;
  border: 1px solid #444;
  cursor: pointer;
  border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #777;
  background: -o-linear-gradient(top, #AAA, #777);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAA), to(#777));
  background: -webkit-linear-gradient(top, #AAA, #777);
  background: -moz-linear-gradient(top, #AAA, #777);
  background: -ms-linear-gradient(top, #AAA, #777);
  background: -o-linear-gradient(top, #AAA, #777);
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 0 #444;
}
#title input.button:hover {
  background: #AAA;
}
#music .audio {
  visibility: hidden;
}
#playlist {
  display: none;
}

